<div class="welcome">
  <h2>Developers, we heard your pain! TALENTED is here.</h2>
  <p>It's hard to find great startups to work with. TALENTED is an intelligent matchmaker that will get you the projects you want to create, the lives you want to change and the teams you will call family. </p>
  <%= link_to "Try TALENTED", new_user_registration_path, class: "button large flat radius" %>
</div>

