<div class="row auth">
  <div class="large-6 large-centered columns">
    <h1 class="header">My account</h1>

    <div class="panel">
      <%= simple_form_for(@user, :url => settings_path, html: {class:"custom", :method => :put}) do |f| %>
        <%= render 'form_inputs', f: f %>
        <hr>
        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>
    </div>
    <div class="other_info">
      <%= link_to "Cancel my account", delete_account_path, :data => { :confirm => "Are you sure?" }, :method => :delete %>
    </div>
  </div>
</div>