.button {
  &.flat {
    border: none;
    @include box-shadow(none);
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.fade {
  @include opacity(0);
  @include transition(opacity 0.15s linear);
  &.in {
    @include opacity(1);
  }
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #FFF;
}

.inline-block {
  @include inline-block;
}

.error small.error {
  margin-top: 0;
}

form label.control-label {
  font-weight: 600;
  font-size: emCalc(16);
  margin-bottom: emCalc(8);
}

form.custom span.custom {
  &.checkbox, &.radio {
    margin-right: 5px;
  }
}

form input {
  &.check_boxes, &.radio_buttons {
    margin-right: 5px;
  }
}

form .form-actions {
  margin-top: 2em;
}