.welcome {
  margin: 4em;
  text-align: center;
  h2 {
    margin-bottom: 1em;
    padding: 0 2em;
    color: #08c;
    font-size: 45px;
  }
  p {
    margin-bottom: 3em;
    font-size: 1.7em;
  }
}

#sign_up_type {
  margin-bottom: 1em;
  li.active {
    .button {
      @extend .button.success;
      @extend .button:active;
    }
  }
}

.auth {
  .header {
    text-align: center
  }
  .submit {
    width: 100%;
    margin-bottom: 0;
  }
  form {
    margin-bottom: 0;
    input[type="checkbox"], span.checkbox {
      margin-right: 5px;
    }
  }
  .other_info {
    text-align: center;
    font-size: 0.9em;
    line-height: 16px;
  }
}